@model IEnumerable<Firma.Data.Data.CMS.Aktualnosc>

   
        @foreach (var item in Model)
        {
<div class="col s3">

    <h2 class="text-center light-blue-text"><i class="material-icons align-content-center">adb</i></h2>
    <h5 class="text-center">@Html.ActionLink(item.LinkTytul, "Index", "Aktualnosc", new { id = item.IdAktualnosci }, null)</h5>
    <p class=" text-center light">@item.Tytul</p>
    <a class="waves-effect waves-light btn" >Zobacz</a>
</div>
         
        }
 


