@model Firma.Data.Data.CMS.Strona
@{
    ViewData["Title"] = @Model.Tytul;
}
<div class="text-center">
    <h4>@Model.Tytul </h4>
    @Model.Tresc
    <br />
    Data i godzina edycji: @DateTime.Now.ToString()
</div>

