@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <br><br>
    <h1 class="header center orange-text">Witaj w sklepie</h1>
    <div class="row center">
        <h5 class="header col s12 light">Et eos euismod amet dolore sadipscing velit voluptua dolor et justo adipiscing vel takimata nonummy sed dolor assum et lorem clita clita eos takimata diam rebum euismod facilisi eleifend amet ut et amet qui nibh nonumy aliquyam et esse ea lorem et accusam et ea duo dolor no dolore et rebum tempor volutpat quod dolor accusam nostrud aliquam kasd aliquam dolore et consetetur in eleifend erat velit stet sit sit kasd rebum ipsum justo et sed diam nonumy et eos sit ipsum et feugiat dolor ea diam aliquam iusto et lorem facilisis et et dolore suscipit eos magna sit sea</h5>
    </div>
    <div class="row center">
        <a href="http://wp.pl" id="download-button" class="btn-large waves-effect waves-light orange">Do sklepu</a>
    </div>
    <br><br>

</div>
